.home__container-img {
    max-width: 50%;
    height: auto;
}
.home__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__container-buttons {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__container-buttons-nav {
    margin: 10px;
}

@media screen and (min-width: 992px){
    .home__container-buttons {

        flex-direction: row;
    
    }
    
}