.volunteer__gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.volunteer__gallery-searchbar {
  margin: 15px;
  margin-bottom: 40px;
}
.volunteer__gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.volunteer__gallery-container-card {
  margin-bottom: 15px;
}

.volunteer__gallery-msg-container {
  position: fixed;
  top: 50%;
  z-index: 1;
}

@media screen and (min-width: 992px) {
  .volunteer__gallery-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
